

body{
    height: 100vh;
    display: flex;
    margin: 0;
    justify-content: center;
    background-color:rebeccapurple;
}
#main-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-color: brown;
    border:5px solid green
}
.gridContainer {
    display: flex;
    box-sizing:border-box;
    height: 50px;
    width: 600px;
}

.gridBox {
box-sizing: border-box;
flex: 1;
}