

body{
    height: 100vh;
    display: flex;
    margin: 0;
}
#main-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex:1
}
.gridContainer {
    border: solid;
    box-sizing:border-box;
    flex: 1;
}