

body{
    height: 100vh;
    display: flex;
    margin: 0;
}
#main-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 960px;
}
.gridContainer {
    display: flex;
    border: solid;
    box-sizing:border-box;
}

.gridBox {
box-sizing: border-box;
border-left: solid;
border-right: solid;
}